extends layout

block content
	h1 Welcome <span id='userName'></span>
	button#btnDeleteUser(rel= '#{user}') Delete Account
	br
	a(href='/logout', class='text-center') Logout!
	br
	br
	// WRAPPER
	#wrapper

		// USER INFO
		#userInfo
			h2 User Info
			p
				strong Name:
				|  <span id='userInfoName'></span>
				br
				strong Email:
				|  <span id='userInfoEmail'></span>
				br
				strong Age:
				|  <span id='userInfoAge'></span>
				br
				strong Gender:
				|  <span id='userInfoGender'></span>
				br
				strong Location:
				|  <span id='userInfoLocation'></span>
		// /USER INFO

		// UPDATE OPTIONS
		h2 Update options
		#userUpdate
			input#userUpdateEmail.update_field(type="checkbox")
			| Email
			.update_value
				input#email(type="text", placeholder="New Email")
			br
			input#userUpdateLocation.update_field(type="checkbox")
			| Location
			.update_value
				input#location(type="text", placeholder="New Location")
			br
			input#userUpdatePassword.update_field(type="checkbox")
			| Password
			.update_value
				input#password(type="password", placeholder="New Password")
			br
			br
			button#btnUpdateUser Update
			
		// /UPDATE OPTIONS